@font-face {
    font-family: 'fenixregular';
    src: url('../fonts/fenix/fenix-regular-webfont.eot');
    src: url('../fonts/fenix/fenix-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/fenix/fenix-regular-webfont.woff2') format('woff2'),
         url('../fonts/fenix/fenix-regular-webfont.woff') format('woff'),
         url('../fonts/fenix/fenix-regular-webfont.ttf') format('truetype'),
         url('../fonts/fenix/fenix-regular-webfont.svg#fenixregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

html,
body {
    width: 100%;
    height: 100%;
    font-family: 'fenixregular';
}

body {
    display: block;
    position: relative;
    overflow: auto;
    font-size: 25px;
}

.world {
    display: block;
    opacity: 0;
    position: absolute;
    width: 100%;
    top: 0;
}

.source--is-duplicate {
    display: block;
    position: relative;
}

.source--is-duplicate span {
    display: inline-block;
}

.canvas .source--is-duplicate {
    visibility: hidden;
}

.line {
    display: inline-block;
    line-height: 1.25em;
    white-space: nowrap;
    min-width: 100%;
}

.line .target {
    transition: opacity 100ms;
    opacity: 1;
    position: relative;
}

.line .target .target__letter--new.is-hidden {
    visibility: hidden;
}

.target__letter--old {
    -webkit-transition: opacity 250ms;
    -moz-transition: opacity 250ms;
    transition: opacity 250ms;
}

/* When changing capitalisation */
/*
.target.is-replacing {
    opacity: 0 !important;
    transition: opacity 500ms;
}
*/

.line .target .letter-replacement {
    position: absolute;
}

.line .was-source,
.line .source {
  opacity: 0.5;
}

.book {
    overflow: auto;
}

.poem-container {
    margin-top: 0;
    width: 50%;
    float: left;
}

.poem1, .poem2 {
    overflow-x: hidden;
}

.grav-item {
   position: absolute;
   display: block;
}

.grav-item.is-grounded {
    display: none;
}

.grav-item.is-offscreen {
    visibility: hidden;
}

.box {
    width: 10px;
    height: 10px;
    background: #ff00ff;
    position: absolute;
    top: auto;
    left: 200px;
}

canvas#animations {
   position: absolute;
   pointer-events: none;
   top: 0;
   left: 0;
}
