body, .book {
  overflow: hidden;
}

.poem-container {
  border-right: 1px solid white;
  width: calc(50% - 1px);
  border-collapse: collapse;
}

.poem-container ~ .poem-container {
  border-right: 0;
  width: 50%;
}

.poem-container.bordered {
  border-right-color: blue;
}

.book {
  border: 1px solid white;
}

.book.bordered {
  border-color: blue;
}

.poem1, .poem2 {
  border: 1px solid white;
}

.poem1.bordered, .poem2.bordered {
  border-color: green;
}
