body {
    font-size: 24pt;
}

.choose {
    display: none;
}

.world {
    display: block;
    opacity : 0;
}

.controls {
    display: none;
}

.world-start {
    display: none;
}

.poem-container {
    margin-top: 0;
}

.book {
    width: 1880px; /* width: 90%; */
    padding: 100px 0;
    margin: 50px auto;
    overflow: auto;
}

.poem1 {
    position: relative;
    left: 50px;
}

.poem2 {
    position: relative;
    right: 50px;
}

.poem1, .poem2 {
    width: 705px; /* width: 75%; */
}

.line {
    white-space: pre-wrap;
}

#settings-button {
    /* display: none; */
    font-size: 14pt;
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 10px;
}

#settings-panel {
    display: none;
    position: fixed;
    margin: 0 auto;
    background-color: white;
    border: 1px solid black;
    font-size: 14pt;
    bottom: 0;
    left: 0;
    right: 0;
    height: 200px;
    width: 250px;
    padding: 10px;
}

#settings-panel input[type='range'] {
    width: 100%;
}
