.choose {
    display: none;
}

.world {
    display: block;
    opacity : 0;
}

.controls {
    display: none;
}

.world-start {
    display: none;
}

.poem-container {
    margin-top: 200px;
}

.poem1, .poem2 {
    width: 75%;
}

.line {
    white-space: pre-wrap;
}
